.message_history{
	position:relative;
	top:20px;
	left:50px;
	width:420px;
	height:290px;
	overflow-y:auto;
	}
.my_message{
	position:relative;
	width:380px;
	height:130px;
	background:white;
	}
.not_my_message{
	position:relative;
	top:20px;
	width:380px;
	height:150px;
	}
.message{
	position:absolute;
	top:320px;
	left:50px;
	width:50px;
	}
.username{
	position:absolute;
	top:320px;
	left:500px;
	width:50px;
	}
h1{
	color:skyblue;
	margin-left:5%;
	}
.indicator{
	position:absolute;
	left:500px;
	top:20px;
	}
.button_send{
	position:absolute;
	left:50px;
	top:400px;
	}
.button_edit{
	position:absolute;
	left:500px;
	top:350px;
	}
.button_save{
	position:absolute;
	left:550px;
	top:350px;
	}
button{
	border:solid black;
	border-width:1px;
	background:Skyblue;
	border-radius:10px;
	}
textarea{ 
	border:solid black;
	border-width:1px;
	background:white;
	border-radius:3px;
	padding:5px;
	overflow:auto;
	background:Lightblue;
	}
body{
	background:url("water.jpg");
	}
.wrapper{
	position:relative;
	}